/** Add css rules here for your application. */

#test{
  display: grid;
  justify-items: center;
  grid-gap: 5px;
}
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.testDiv
{
  max-height: 300px;
  overflow: auto;

}